<!--<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.submit "Sign in" %>
<% end %>
<br>

<%= link_to "Forgot password?", new_password_path %>
-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Đăng nhập</h3>
        </div>
        <div class="card-body">
          <%= form_with url: session_path do |form| %>
            <div class="form-group">
              <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Nhập email", value: params[:email_address], class: "form-control" %><br>
            </div>
            <div class="form-group">
              <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Nhập mật khẩu", maxlength: 72, class: "form-control" %><br>
            </div>
            <div class="text-center">
              <%= form.submit "Sign in", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="text-center">
  <%= link_to "Quên mật khẩu", new_password_path %>
  <%= link_to "Đăng ký", new_registration_path %>
</div>