<!--<h1><%= t ".title" %></h1>


<%= link_to "New product", new_product_path if authenticated? %>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>


<%= link_to "Login", new_session_path unless authenticated? %>
-->


<div class="d-flex justify-content-between align-items-center mb-4">
  <% if authenticated? %>
    <%= link_to "Thêm sản phẩm", new_product_path, class: "btn btn-primary" %>
  <% end %>

  <% unless authenticated? %>
    <%= link_to "Đăng nhập", new_session_path, class: "btn btn-secondary ms-auto" %>
  <% end %>
</div>

<h1 class="text-center"><%= t ".title" %></h1>

<div id="products" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card h-100">
        <% if product.featured_image.attached? %>
          <%= link_to product do %>
            <%= image_tag product.featured_image, class: "card-img-top", alt: product.name %>
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to product.name, product, class: "text-decoration-none" %>
          </h5>
          <p class="card-text">
            <strong>Số lượng tồn:</strong> <%= product.inventory_count %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

